<div class="container">
<h3>CAREER</h3>
<div>
Anıl UĞUR graduated from ÇÖMÜ Computer Engineering Department in 2008.
Throughout his professional life, he has developed the following sample applications using many different technologies.
  <ul>
    <li>CRM ecosystem with .Net ASPX MSSQL</li>
    <li>.Net WCF Services, KKB/LKS BIG Data prosesing, credit card/merchant packages development, ASP Net Core Web API development for goverment banking</li>
    <li>Project analysis, design and management. Team management. Scrum master</li>
  </ul>
</div>
</div>

